<html ng-app="myapp">
<head>
	<title>Risk Calculator</title>

	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="formController">
<h2>Risk Calculator</h2>
<div class="score">
	<div class="half"><h4>Risk Tolerance Score</h4>
		{{ riskTolerenceScore }}
	</div>

	<div class="half"><h4>Tolerance Fund</h4>
		{{ fundName }}
	</div>
</div>
	
<h3>Expectations</h3>
<form action="">
<ol>
	<li class="important"><p>Over the entire duration of your investment, what annualized return on your portfolio would you consider to be reasonable?</p>
	
		<div class="radio">
			<label><input type="radio" name="Expectations1" id="optionsRadios1" value="1"  ng-model="risk.expectations[1]">1%</label>
			<label><input type="radio" name="Expectations1" id="optionsRadios1" value="1.1"  ng-model="risk.expectations[1]">2%</label>
			<label><input type="radio" name="Expectations1" id="optionsRadios1" value="1.2"  ng-model="risk.expectations[1]">3%</label>
			<label><input type="radio" name="Expectations1" id="optionsRadios1" value="1.5"  ng-model="risk.expectations[1]">4%</label>
			<label><input type="radio" name="Expectations1" id="optionsRadios1" value="2"  ng-model="risk.expectations[1]">5%</label>
			<label><input type="radio" name="Expectations1" id="optionsRadios1" value="2.5"  ng-model="risk.expectations[1]">6%</label>
			<label><input type="radio" name="Expectations1" id="optionsRadios1" value="3"  ng-model="risk.expectations[1]">7%</label>
			<label><input type="radio" name="Expectations1" id="optionsRadios1" value="3.5"  ng-model="risk.expectations[1]">8%</label>
			<label><input type="radio" name="Expectations1" id="optionsRadios1" value="4"  ng-model="risk.expectations[1]">9%</label>
			<label><input type="radio" name="Expectations1" id="optionsRadios1" value="5" ng-model="risk.expectations[1]">10%+</label>
			<label><input type="radio" name="Expectations1" id="optionsRadios1" value=""   ng-model="risk.expectations[1]">N/A</label>
		</div>
	</li>

	<li><p>How often do you expect to be contacted regarding your investments?</p>
		<div class="radio">
			<label><input type="radio" name="Expectations2" id="optionsRadios1" value="Once a year">Once a Year</label>
			<label><input type="radio" name="Expectations2" id="optionsRadios1" value="Twice a year">Twice a Year</label>
			<label><input type="radio" name="Expectations2" id="optionsRadios1" value="Once a quarter">Once a Quarter</label>
			<label><input type="radio" name="Expectations2" id="optionsRadios1" value="No opinion">No Opinion</label>
		</div>
	</li>
</ol>

<h3>Investment Objectives</h3>
<ol>
<li class="important"><p>What is your primary investment Goal?</p>
	<div class="radio">
		<label><input type="radio" name="InvestmentObjectives1" id="optionsRadios1" value="4" ng-model="risk.objectives[1]">Build a Wealth</label>
		<label><input type="radio" name="InvestmentObjectives1" id="optionsRadios1" value="3" ng-model="risk.objectives[1]">Finance a Retirement</label>
		<label><input type="radio" name="InvestmentObjectives1" id="optionsRadios1" value="2" ng-model="risk.objectives[1]">Generate Income</label>
		<label><input type="radio" name="InvestmentObjectives1" id="optionsRadios1" value="1.9" ng-model="risk.objectives[1]">Other</label>
		<label><input type="radio" name="InvestmentObjectives1" id="optionsRadios1" value=""  ng-model="risk.objectives[1]">N/A</label>
	</div>
</li>
<li><p>What is the federal tax rate you expect on earnings that you derive from the account?</p>
	<div class="radio">
		<label><input type="radio" name="InvestmentObjectives2" id="optionsRadios1" value="taxDeferred">0% (Tax-Deferred IRA, Keogh, etc.)</label>
		<label><input type="radio" name="InvestmentObjectives2" id="optionsRadios1" value="15%">15%</label>
		<label><input type="radio" name="InvestmentObjectives2" id="optionsRadios1" value="28%">28%</label>
		<label><input type="radio" name="InvestmentObjectives2" id="optionsRadios1" value="31%">31%</label>
		<label><input type="radio" name="InvestmentObjectives2" id="optionsRadios1" value="36%">36%</label>
		<label><input type="radio" name="InvestmentObjectives2" id="optionsRadios1" value="39.6%">39.6%</label>
	</div>
</li>
<li><p>Is tax sensitive investing a primary goal?</p>
	<div class="radio">
		<label><input type="radio" name="InvestmentObjectives3" id="optionsRadios1" value="yes">Yes</label>
		<label><input type="radio" name="InvestmentObjectives3" id="optionsRadios1" value="no">No</label>		
	</div>
</li>
</ol>

<h3>Investment Experience and Risk Tolerance</h3>
<ol>
	<li class="important"><p>In approximately how many years do you expect to need the money you're investing?</p>

		<div class="radio">
			<label><input type="radio" name="InvestmentExperience1" id="optionsRadios1" value="1" ng-model="risk.experience[0]">3 Years</label>
			<label><input type="radio" name="InvestmentExperience1" id="optionsRadios1" value="2" ng-model="risk.experience[0]">5 Years</label>
			<label><input type="radio" name="InvestmentExperience1" id="optionsRadios1" value="3" ng-model="risk.experience[0]">10 Years</label>
			<label><input type="radio" name="InvestmentExperience1" id="optionsRadios1" value="4" ng-model="risk.experience[0]">15 Years</label>
			<label><input type="radio" name="InvestmentExperience1" id="optionsRadios1" value="5" ng-model="risk.experience[0]">20 Years or more</label>
			<label><input type="radio" name="InvestmentExperience1" id="optionsRadios1" value=""  ng-model="risk.experience[0]">N/A</label>
		</div>
	</li>
	<li class="important"><p>The following graph shows the potential best and worst cases of investing $100,000 for one year in each of four hypothetical portfolios.  Portfolios with the potential greatest gains also have the largest potential losses. In which portfolio would you be most comfortable investing?</p>
	<img class="img-responsive" src="investment2.png">
		<div class="radio">
			<label><input type="radio" name="InvestmentExperience2" id="optionsRadios1" ng-model="risk.experience[1]" value="1.5">A</label>
			<label><input type="radio" name="InvestmentExperience2" id="optionsRadios1" ng-model="risk.experience[1]" value="3">B</label>
			<label><input type="radio" name="InvestmentExperience2" id="optionsRadios1" ng-model="risk.experience[1]" value="4">C</label>
			<label><input type="radio" name="InvestmentExperience2" id="optionsRadios1" ng-model="risk.experience[1]" value="5">D</label>
			<label><input type="radio" name="InvestmentExperience2" id="optionsRadios1" ng-model="risk.experience[1]" value="">N/A</label>
		</div>
	</li>
	<li class="important"><p>The table below shows the probable long-term average annual return and the probable short-term range of returns for four hypothetical portfolios.  Choose the portfolio in which you are most confortable investing.</p>
	<img class="img-responsive" src="investment3.png">
		<div class="radio">
			<label><input type="radio" name="InvestmentExperience3" id="optionsRadios1" ng-model="risk.experience[2]" value="1.5">A</label>
			<label><input type="radio" name="InvestmentExperience3" id="optionsRadios1" ng-model="risk.experience[2]" value="3">B</label>
			<label><input type="radio" name="InvestmentExperience3" id="optionsRadios1" ng-model="risk.experience[2]" value="4">C</label>
			<label><input type="radio" name="InvestmentExperience3" id="optionsRadios1" ng-model="risk.experience[2]" value="5">D</label>
			<label><input type="radio" name="InvestmentExperience3" id="optionsRadios1" ng-model="risk.experience[2]" value="">N/A</label>
		</div>
	</li>
	<li class="important"><p>I am willing to expereince potentially large and frequent declines in the value of my investment if it will increase the likelihood of achieving high, long-term returns.</p>
		<div class="radio">
			<label><input type="radio" name="InvestmentExperience4" id="optionsRadios1" ng-model="risk.experience[3]" value="5">Agree</label>
			<label><input type="radio" name="InvestmentExperience4" id="optionsRadios1" ng-model="risk.experience[3]" value="3.5">Somewhat Agree</label>
			<label><input type="radio" name="InvestmentExperience4" id="optionsRadios1" ng-model="risk.experience[3]" value="2.5">Somewhat Disagree</label>
			<label><input type="radio" name="InvestmentExperience4" id="optionsRadios1" ng-model="risk.experience[3]" value="1">Disagree</label>
			<label><input type="radio" name="InvestmentExperience4" id="optionsRadios1" ng-model="risk.experience[3]" value="">N/A</label>
		</div>
	</li>
	<li><p>If applicable, approximately what percentage of your total account would you like to remain in cash?</p>
		<div class="radio">
			<label><input type="radio" name="InvestmentExperience5" id="optionsRadios1" value="5">5%</label>
			<label><input type="radio" name="InvestmentExperience5" id="optionsRadios1" value="10">10%</label>
			<label><input type="radio" name="InvestmentExperience5" id="optionsRadios1" value="15">15%</label>
			<label><input type="radio" name="InvestmentExperience5" id="optionsRadios1" value="20">20%</label>
			<label><input type="radio" name="InvestmentExperience5" id="optionsRadios1" value="pleaseDetermine">Please determine for me, based off of my needs</label>		

		</div>
	</li>
</ol>
	<input type="hidden" value="{{ riskTolerenceScore }}" name="Risk Tolerence Score">
	<input type="hidden" value="{{ fundName }}" name="Fund Name">
	<p>Are there any other special concerns or requests which we should note on your account?</p>
		<textarea class="form-control" rows="3"></textarea>
</form>

<script type="text/javascript" src="vendor/components/angular.js/angular.js"></script>
<script type="text/javascript" src="risk.js"></script>
</body>
</html>