/* Sass styles */


// Twitter Bootstrap styles: http://getbootstrap.com/css/

@import "vendor/twbs/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// @import "bootstrap/normalize";
// @import "bootstrap/variables";
// @import "bootstrap/mixins";
// @import "bootstrap/tables";

* {
	box-sizing: border-box;
}

.sidebar {

	background:red;
	@include make_sm_column(1, 30);
}

.main {
	background:green;
	@include make_sm_column(11, 30);
}