/* Sass styles */


// Twitter Bootstrap styles: http://getbootstrap.com/css/

@import "vendor/twbs/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// @import "bootstrap/normalize";
// @import "bootstrap/variables";
// @import "bootstrap/mixins";
// @import "bootstrap/tables";//

$grid_gutter_width: 30px;

* {
	box-sizing: border-box;
}

.sidebar {

	background:red;
	@include make_sm_column(1, $grid_gutter_width);
}

.main {
	background:green;
	@include make_sm_column(11, $grid_gutter_width);
}
.half {
	@include make_sm_column(6, $grid_gutter_width);
}

.score {
	position: fixed;
	right: 10px;
	top: 10px;
	width: 300px;
	@include make_row(12);
}

h2{
	color: #362119;
}
body{
	background: #E9E1D9;
	padding: 30px;
	color: #272727;
}

li {
	margin: .4em 0;
}

label {
	border: 1px solid #ccc;
	padding: 10px;
	cursor: pointer;
	font-size:.8em;
	display: inline-block;
}
label:hover {
	border: 1px solid #999;
}
.radio {
	overflow: auto;
}
input[type='radio'] {
	margin-right: 10px;
	pointer-events:none;
}
.important {
	background-color: rgba(255,255,255,.5);
	
}